{% load static %}
<html>
    <head>
        <title>Mira Loma Chess Club Website</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/chess.css' %}">
        <link href="//fonts.googleapis.com/css?family=Abel&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">The Mira Loma Chess Club {{ post.text|linebreaksbr }}</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    <div class="info">
                    <h2><a href="">What is Chess?</a></h2>
                    <p>Chess is a two-player strategy board game played on a checkered board with 64 squares arranged in an 8×8 grid. Each player begins with 16 pieces: one king, one queen, two rooks, two knights, two bishops, and eight pawns. Each piece type moves differently. The goal is to checkmate the opponent's king for both players but draws occur often. {{ post.text|linebreaksbr }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="content container">
                <div class="row">
                    <div class="col-md-8">
                    <h2><a href="">About the club</a></h2>
                    <p>The Mira Loma Chess Club is an official academic club of Mira Loma HS but we have lots of fun too. We meet Tuesdays 3:05 - 4:05 and Fridays 3:05 - 4:35 when possible. {{ post.text|linebreaksbr }}</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

